.movie-search-container {
  display: flex;
  justify-content: center;
}

.movie-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 10px 20px;
  width: 80%;
  max-width: 600px;
}

.search-label {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 600;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.movie-link {
  display: block;
  margin-bottom: 10px;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-card a {
  text-decoration: none;
}